<web-app xmlns="http://java.sun.com/xml/ns/j2ee" version="2.4">
  <filter>
    <filter-name>AuthFilter</filter-name>
    <filter-class>logic.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>User Servlet</servlet-name>
    <servlet-class>servlets.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User Servlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlets.UserControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
        </web-app>