<web-app xmlns="http://java.sun.com/xml/ns/j2ee" version="2.4">
    <servlet>
    <servlet-name>Hall Servlet</servlet-name>
    <servlet-class>servlets.JSONhalls</servlet-class>
    </servlet>
    <servlet-mapping>
    <servlet-name>Hall Servlet</servlet-name>
    <url-pattern>/json</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PostHall Servlet</servlet-name>
        <servlet-class>servlets.JSONaccount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostHall Servlet</servlet-name>
        <url-pattern>/jsonacc</url-pattern>
    </servlet-mapping>
    <servlet>
    <servlet-name>Account Servlet</servlet-name>
    <servlet-class>servlets.ServletAccount</servlet-class>
    </servlet>
    <servlet-mapping>
    <servlet-name>Account Servlet</servlet-name>
    <url-pattern>/account</url-pattern>
    </servlet-mapping>
</web-app>