<web-app xmlns="http://java.sun.com/xml/ns/j2ee" version="2.4">
  <filter>
    <filter-name>AuthFilter</filter-name>
    <filter-class>logic.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>*</url-pattern>
  </filter-mapping>
  <!--<servlet>-->
    <!--<servlet-name>User Servlet</servlet-name>-->
    <!--<servlet-class>servlets.UserServlet</servlet-class>-->
  <!--</servlet>-->
  <!--<servlet-mapping>-->
    <!--<servlet-name>User Servlet</servlet-name>-->
    <!--<url-pattern>/</url-pattern>-->
  <!--</servlet-mapping>-->
  <servlet>
    <servlet-name>JSONServlet</servlet-name>
    <servlet-class>servlets.JSONControllers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSONServlet</servlet-name>
    <url-pattern>/json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JSONCity</servlet-name>
    <servlet-class>servlets.JSONCity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSONCity</servlet-name>
    <url-pattern>/jsoncity</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlets.UserControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Update</servlet-name>
    <servlet-class>servlets.ServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AuthorizeServlet</servlet-name>
    <servlet-class>servlets.AuthorizeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthorizeServlet</servlet-name>
    <url-pattern>/jsonlog</url-pattern>
  </servlet-mapping>
        </web-app>